<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Siteguarding_Security::parent" title="Security" module="Siteguarding_Security" sortOrder="100" resource="Siteguarding_Security::parent"/>
        <add id="Siteguarding_Security::index" title="Dashboard" module="Siteguarding_Security" sortOrder="10" action="security/index" resource="Siteguarding_Security::index" parent="Siteguarding_Security::parent"/>
		
    </menu>
</config>
